*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fredoka', sans-serif;
}

body{
  background: white;
}

header{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #961515;
}

header h1{
  font-family: 'Sansita Swashed', cursive;
  color: white;
}

.section-nroe{
  padding: 10px;
  margin: 0 auto;
  width: 100%;
}

.section-title{
  padding: 10px;
  margin: 20px auto;
  max-width: 600px;
  width: 90%;
}

.section-title p{
  font-size: 17px;
  margin-top: 10px;
  text-align: justify;
}

.title-supremo h1{
  font-size: 35px;
}

.title-supremo p{
  font-size: 14px;
  text-align: left;
}

.img-suprema{
  padding: 10px;
  margin: 20px auto;
  max-width: 600px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-suprema img{
  width: 100%;
  border-radius: 4px;
}
